
<div class="row">
  <div class="span4">

<%= simple_form_for(@status, html: {class: ""}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="span4">
      User: <%= current_user.profile_name %>
      <%= f.input :content %>
    </div>
  </div>

  <div class="span4" id="form-btn">
    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to "Cancel", :back, class: "btn btn-info" %>
  </div>
    <% end %>
  </div>
</div>